Checks: '-*,
          clang-analyzer-*,
          cppcoreguidelines-*,
          bugprone-*,
          performance-*,
          portability-*,
          modernize-*,
          readability-*'
HeaderFilterRegex: '^(src|include)/.*'
